<app-rm></app-rm>
<div></div>
<div
  style="margin-left: 155px;"
  class="btn-group"
  role="group"
  aria-label="Basic example"
>
  <button
    [routerLink]="['/workorder']"
    type="button"
    class="btn btn-secondary"
  >
    Work-Order
  </button>
  <button
    [routerLink]="['/EnQueueComponent']"
    type="button"
    class="btn btn-secondary"
  >
     enqueue
  </button>
  <button
  [routerLink]="['/AddWork-order']"
  type="button"
  class="btn btn-secondary"
>
   add-work-order
</button>
</div>
<p>en-queue works!</p>
