<div class="mat-elevation-z8 data-table">
  <table mat-table  class="full-width-table" matSort aria-label="Elements">
    <!-- name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>
 <!-- reference Column -->
    <ng-container matColumnDef="reference">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>reference</th>
      <td mat-cell *matCellDef="let row">{{row.reference}}</td>
    </ng-container>
 <!-- family Column -->
    <ng-container matColumnDef="family">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>family</th>
      <td mat-cell *matCellDef="let row">{{row.family}}</td>
    </ng-container>
 <!-- state Column -->
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>state</th>
      <td mat-cell *matCellDef="let row">{{row.state}}</td>
    </ng-container>
   <!-- brand Column -->
    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>brand</th>
      <td mat-cell *matCellDef="let row">{{row.brand}}</td>
    </ng-container>
 <!-- supllierName Column -->
    <ng-container matColumnDef="supplierName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>supplierName</th>
      <td mat-cell *matCellDef="let row">{{row.supplierName}}</td>
    </ng-container>
 <!-- supplierContact Column -->
    <ng-container matColumnDef="supplierContact">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>supplierContact</th>
      <td mat-cell *matCellDef="let row">{{row.supplierContact}}</td>
    </ng-container>
 <!-- serialNumber Column -->
    <ng-container matColumnDef="serialNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>serialNumber</th>
      <td mat-cell *matCellDef="let row">{{row.serialNumber}}</td>
    </ng-container>
 <!-- dateOfPurchase Column -->
    <ng-container matColumnDef="dateOfPurchase">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>dateOfPurchase</th>
      <td mat-cell *matCellDef="let row">{{row.dateOfPurchase}}</td>
    </ng-container>
 <!-- inventory Column -->
    <ng-container matColumnDef="inventory">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>inventory</th>
      <td mat-cell *matCellDef="let row">{{row.inventory}}</td>
    </ng-container>
 <!-- ISBN Column -->
    <ng-container matColumnDef="ISBN">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ISBN</th>
      <td mat-cell *matCellDef="let row">{{row.ISBN}}</td>
    </ng-container>
 <!-- department Column -->
    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>department</th>
      <td mat-cell *matCellDef="let row">{{row.department}}</td>
    </ng-container>
 <!-- image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>image</th>
      <td mat-cell *matCellDef="let row">{{row.image}}</td>
    </ng-container>
 <!-- comment Column -->
    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>comment</th>
      <td mat-cell *matCellDef="let row">{{row.comment}}</td>
    </ng-container>
 <!-- displayedColumns Column -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
