<app-rm></app-rm>
<div></div>
<div style="margin-left:155px" class="btn-group" role="group" aria-label="Basic example">
  <button routerLink="/listmachines" type="button" class="btn btn-secondary">machines</button>
  <button routerLink="/addmachins" type="button" class="btn btn-secondary">add machine</button>
  <button routerLink="/prevention" type="button" class="btn btn-secondary">prevention</button>
  <button routerLink="/correction" type="button" class="btn btn-secondary">correction</button>
<!-- </div>
<div style="overflow: scroll; ">
<table style="margin-left:155px; margin-right:px; font-size: 15px;  " class="table table-hover">
  <thead>
    <tr style="background: #a3cde9;">
   
      <th scope="col">name</th>
      <th scope="col">reference</th>
      <th scope="col">family</th>
      <th scope="col">state</th>
      <th scope="col">brand</th>
      <th scope="col">supplierName</th>
      <th scope="col">supplierContact</th>
      <th scope="col">serialNumber</th>
      <th scope="col">dateOfPurchase</th>
      <th scope="col">inventory</th>
      <th scope="col">ISBN</th>
      <th scope="col">department</th>
      <th scope="col">image</th>
      <th scope="col">comment</th>


    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">1</td>
      <td scope="col">#</td>
      <td scope="col">First</td>
      <td scope="col">Last</td>
      <td scope="col">Handle</td>
      <td scope="col">#</td>
      <td scope="col">First</td>
      <td scope="col">Last</td>
      <td scope="col">Handle</td>
      <td scope="col">Handle</td>
      <td scope="col">#</td>
      <td scope="col">First</td>
      <td scope="col">Last</td>
      <td scope="col">Handle</td>   
      

    </tr>
   
  </tbody>
</table>
</div> -->
<!-- <app-data-table></app-data-table> -->
<br>
<br>
<app-datalist></app-datalist>