<div class='tab'>
    <mat-table  class='tab' [dataSource]="dataSource">
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef >Name</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="reference">
            <mat-header-cell *matHeaderCellDef >Reference</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.reference}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="family">
            <mat-header-cell *matHeaderCellDef >family</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.family}}</mat-cell>
          </ng-container>         

          <ng-container matColumnDef="state">
            <mat-header-cell *matHeaderCellDef >state</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.state}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="brand">
            <mat-header-cell *matHeaderCellDef >brand</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.brand}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="supplierName">
            <mat-header-cell *matHeaderCellDef >supplierName</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.supplierName}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="supplierContact">
            <mat-header-cell *matHeaderCellDef >supplierContact</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.supplierContact}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="serialNumber">
            <mat-header-cell *matHeaderCellDef >serialNumber</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.serialNumber}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="dateOfPurchase">
            <mat-header-cell *matHeaderCellDef >dateOfPurchase</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.dateOfPurchase}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="inventory">
            <mat-header-cell *matHeaderCellDef >inventory</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.inventory}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="ISBN">
            <mat-header-cell *matHeaderCellDef >ISBN</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.ISBN}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="department">
            <mat-header-cell *matHeaderCellDef >department</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.department}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="image">
            <mat-header-cell *matHeaderCellDef >image</mat-header-cell>
            <mat-cell *matCellDef="let row"><img style="width: 100px;" src="{{row.image}}"/>
              <!-- Require through a get request
              get '/img/nameoftheimage'
              res: res.sendFile(image)  
              -->
            </mat-cell>
          </ng-container>
          <!-- <img src='../../../../../../../backend/{{row.image}}'> -->
          <ng-container matColumnDef="comment">
            <mat-header-cell *matHeaderCellDef >comment</mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.comment}}</mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
</div>
