<app-rm></app-rm>
<div></div>
<div
  style="margin-left: 155px;"
  class="btn-group"
  role="group"
  aria-label="Basic example"
>
  <button [routerLink]="['/workorder']" type="button" class="btn btn-secondary">
    Work-Order
  </button>
  <button
    [routerLink]="['/EnQueueComponent']"
    type="button"
    class="btn btn-secondary"
  >
    enqueue
  </button>
  <button
    [routerLink]="['/AddWork-order']"
    type="button"
    class="btn btn-secondary"
  >
    add-work-order
  </button>
</div>
<form #addToDatabase="ngForm" (ngSubmit)="addToDatabase.valid && onSubmit(addToDatabase)">
  <fieldset>
    <legend style="text-align: center;">Fill me in</legend>
    <label>Name of the intervention</label>
    <input
      class="form-control"
      type="text"
      #nameOftheIntervention
      [(ngModel)]="addService.selectedAddwork.nameOfTheIntervention"
      name="nameOfTheIntervention"
      palceholder="Name Of The Intervention"
      required
    />
    <label>Type of intervention</label>
    <input
      class="form-control"
      type="text"
      #typeOfIntervention
      [(ngModel)]="addService.selectedAddwork.typeOfIntervention"
      name="typeOfIntervention"
      palceholder="Type of intervention"
      required
    />
    <label>State</label>
    <input type="radio" name="lang" /> enqueue <br />
    <input type="radio" name="lang" /> done <br />
    <br />
    <label>Machine</label>
    <input
    class="form-control"
    type="text"
    #machine
    [(ngModel)]="addService.selectedAddwork.machine"
    name="machine"
    palceholder="Machine"
    required
  />
    <label>Manager</label>
    <input
    class="form-control"
    type="text"
    #manager
    [(ngModel)]="addService.selectedAddwork.manager"
    name="manager"
    palceholder="Manager"
    required
  />
    <label>Agent</label>
    <input
    class="form-control"
    type="text"
    #agent
    [(ngModel)]="addService.selectedAddwork.agent"
    name="agent"
    palceholder="Agent"
    required
  />
    <label>Depertment</label>
    <input
    class="form-control"
    type="text"
    #depertment
    [(ngModel)]="addService.selectedAddwork.depertment"
    name="depertment"
    palceholder="Depertment"
    required
  />
    <label>Duration</label>
    <input
    class="form-control"
    type="text"
    #duration
    [(ngModel)]="addService.selectedAddwork.duration"
    name="duration"
    palceholder="Duration"
    required
  />
    <label>equipment used</label>
    <input
    class="form-control"
    type="text"
    #equipmentUsed
    [(ngModel)]="addService.selectedAddwork.equipmentUsed"
    name="equipmentUsed"
    palceholder="Equipment Used"
    required
  />

    <input type="submit" value="Send Your Data" />
  </fieldset>
</form>
<!-- Success message -->

<!-- Error message -->
