<app-rm></app-rm>
<div></div>
<div
  style="margin-left: 155px;"
  class="btn-group"
  role="group"
  aria-label="Basic example"
>
  <button
    [routerLink]="['/workorder']"
    type="button"
    class="btn btn-secondary"
  >
    Work-Order
  </button>
  <button
    [routerLink]="['/EnQueueComponent']"
    type="button"
    class="btn btn-secondary"
  >
     enqueue
  </button>
  <button
  [routerLink]="['/AddWork-order']"
  type="button"
  class="btn btn-secondary"
>
   add-work-order
</button>
</div>
<form name="register">
    <fieldset>
        <legend style="text-align: center;">Fill me in </legend>
        <label>name</label>
        <input class="form-control" type="text" placeholder="enter the name of the machine">
        <label>reference</label>
        <input class="form-control" type="text" placeholder="enter the reference of the machine">
        <label>family</label>
        <input class="form-control" type="text" placeholder="enter the family of the machine">
        <label>state</label>
        <input type="radio"name="lang"> actif <br>
        <input type="radio"name="lang"> inactif <br>  
        <br>
        <label>brand</label>
        <input class="form-control" type="text" placeholder="enter the brand of the machine">        
        <label>supplier</label>
        <!-- <input class="form-control" type="text" placeholder="Default input">  -->
        <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="enter the name of the supplier">
            </div>
            <div class="col">
              <input type="text" class="form-control" placeholder="enter the contact informations">
            </div>
          </div>  
        <label>serial number</label>
        <input class="form-control" type="text" placeholder="enter the serial number">  
        <label>date of purchase</label>
        <input class="form-control" type="text" placeholder="enter the date of purchase">  
        <label>inventory</label>
        <input class="form-control" type="text" placeholder="enter the inventory"> 
        <label>ISBN</label>
        <input class="form-control" type="text" placeholder="enter the ISBN"> 
        <label>department</label>
        <input class="form-control" type="text" placeholder="enter the department"> 
        <legend>Your comment</legend>
        <textarea></textarea>
        <input type="submit" value="Send Your Data">
    </fieldset>

    </form>

