<app-rm></app-rm>
<div></div>
<div style="margin-left:155px" class="btn-group" role="group" aria-label="Basic example">
  <button routerLink="/listmachines" type="button" class="btn btn-secondary">machines</button>
  <button routerLink="/addmachins" type="button" class="btn btn-secondary">add machine</button>
  <button routerLink="/prevention" type="button" class="btn btn-secondary">prevention</button>
  <button routerLink="/correction" type="button" class="btn btn-secondary">correction</button>
</div>