<app-rm></app-rm>
<div></div>
<div
  style="margin-left: 155px;"
  class="btn-group"
  role="group"
  aria-label="Basic example"
>
  <button type="button" class="btn btn-secondary">work order ID</button>
  <button type="button" class="btn btn-secondary">machine reference</button>
  <button type="button" class="btn btn-secondary">intervention</button>
  <button type="button" class="btn btn-secondary">work order status</button>
  <button type="button" class="btn btn-secondary">date</button>
  <button type="button" class="btn btn-secondary">duration</button>
</div>
